<!DOCTYPE html> 
<html>
    <meta charset = "UTF-8">
    <head>
        <title>RATING UPDATE</title>
        <meta property="og:title" content="RATING UPDATE"/>
        <meta property="og:type" content="website" />
        <meta property="og:description" content="Glicko2 ratings for Guilty Gear Strive" />
        <link href="/style.css" rel="stylesheet" type="text/css">
        <!--Look, if you think you can make this website look better, DM a CSS file to @sov_gott_games or maybe open an issue. -->
    </head>
    <body>
        {{> header stats}}
        <br>

        <p>This website uses information gathered from Strive's replays on PC to track players and assign them
        <a href="https://en.wikipedia.org/wiki/Glicko_rating_system">Glicko-2</a> ratings based on their performance. This system is widely used in competitive games and is especially suitable for 1v1 play. Matchups are as follows: </p>
        <table>
            <tr>
                <th>Rating difference</th>
                <th>Win probability</th>
            </tr>
            <tr><td>0</td><td>50%</td></tr>
            <tr><td>100</td><td>63%</td></tr>
            <tr><td>200</td><td>75%</td></tr>
            <tr><td>300</td><td>85%</td></tr>
            <tr><td>400</td><td>91%</td></tr>
            <tr><td>500</td><td>95%</td></tr>
        </table>
        <i>If you take on someone 300 points above you in a FT10, you can expect to take about 2 games off of them.</i>
        <p>This project originally started because I wanted to get more accurate info for matchup charts, but that's still ongoing.</p>
        <p>The data on this page should be updated every 24 hours or so. Most games played prior to Dec. 16th are missing due to mistakes using the API, but anything more recent than that should be on here.</p>
        <p>None of this would have been possible without the help of NotQuiteFactual, who made <a href="https://notquitefactual.github.io/GGAnalyser/">GGAnalyser</a>.</p>

    </body>
</html>
