<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>RATING UPDATE</strong> is Open Source. Created by <a href="https://twitter.com/sov_gott_games">halvnykterist</a>. Designed by <a href="https://twitter.com/shiburizu">Shiburizu</a>.
    </p>
  </div>
</footer>