<div>
    <a href="/top/all">Top 100</a>  |
    <a href="/top/SO">(per character)</a>  |
    <a href="https://twitter.com/sov_gott_games">Twitter</a>
</div>
<div>
    <p> Data from {{game_count}} games between {{player_count}} players. Leaderboards require a rating deviation < 100.
</div
