<!DOCTYPE html> 
<html>
    <meta charset = "UTF-8">
    <head>
        <title>Strive Ratings</title>
        <link href="style.css" rel="stylesheet" type="text/css">
        <!--Look, if you think you can make this website look better, DM a CSS file to @sov_gott_games or maybe open an issue. -->
    </head>
    <body>
        {{> header}}
        <p>{{foo}}</p>
    </body>
</html>
