{{name}} 
<a href="/player/{{id}}/{{char}}">→</a>
{{#if vip_status}}
    <span class="vip" title="This user supports the site!">VIP</span>
{{/if}}
{{#if cheater_status}}
    <span class="cheater">(Cheater)</span>
{{/if}}
