<!DOCTYPE html> 
<html class="has-navbar-fixed-top">
    <meta charset = "UTF-8">
    <head>
        {{> metadata title="Rating calculator" }}
        <script src="/glicko_calculator.js"></script>
    </head>
    <body onload="update()">
        {{> navbar}}
        <section class="hero is-primary">
            <div class="hero-body has-text-centered">
                <p class="title">Rating calculator</p>
            </div>
        </section>
        <section class="section">
            <p>Use this to calculate rating changes or get more of a sense for how the algorithm works.</p>
            <br>

            <form class="form-table">
                <p>
                    <span></span>
                    <span>P1 rating:</span>
                    <span></span>
                    <span>P2 rating:</span>
                </p>
                <p>
                    <label for="own_rating">Rating</label>
                    <input id="own_rating" type="number" value="1500" step="10" oninput="update()">
                    <label for="opp_rating">Rating</label>
                    <input id="opp_rating" type="number" value="1500" step="10" oninput="update()">
                </p>
                <p>
                    <label for="own_deviation">Deviation</label>
                    <input id="own_deviation" type="number" min="50" max="750" value="100" step="10" oninput="update()">
                    <label for="opp_deviation">Deviation</label>
                    <input id="opp_deviation" type="number" min="50" max="750" value="100" step="10" oninput="update()">
                </p>
                <br>
                <p>
                    <label></label>
                    <label>Win chance:</label>
                    <span id="expected_outcome"></span>
                </p>
                <p>
                    <label>P1 Win:</label>
                    <span id="own_win_delta"></span>
                    <label></label>
                    <span id="opp_loss_delta"></span>
                </p>
                <p>
                    <label>P2 Win:</label>
                    <span id="own_loss_delta"></span>
                    <label></label>
                    <span id="opp_win_delta"></span>
                </p>
                <p>
                    <label>New deviation</label>
                    <span id="own_new_deviation"></span>
                    <label></label>
                    <span id="opp_new_deviation"></span>
                </p>
            </form>
        </section>
    </body>
    {{> footer }}
</html>
