<form class = "form-inline" action="/" method="get">
    <input type="text" id="name" name="name" required autocomplete="on" placeholder="GG Player">
    <button type="submit">Player search</button>
</form>
