<!DOCTYPE html> 
<html class="has-navbar-fixed-top">
    <meta charset = "UTF-8">
    <head>
        {{> metadata title="Supporters"}}
    </head>
    <body>
        {{> navbar}}
        <section class="hero is-primary">
            <div class="hero-body has-text-centered">
                <p class="title">Supporters</p>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <div class="content">
                    <p>These players help keep the site afloat! To become part of this list, please consider supporting the project on <a href="https://www.patreon.com/halvnykterist">Patreon</a>!</p>
                    {{#each players}}
                    <div>
                        {{>player_link name=this.name id=this.id vip_status=this.vip_status}}
                    </div>
                    {{/each}}
                </div>
            </div>
        </section>
    </body>
    {{> footer }}
</html>
