<!DOCTYPE html> 
<html>
    <meta charset = "UTF-8">
    <head>
        <title>Supporters | RATING UPDATE</title>
        <meta property="og:title" content="RATING UPDATE"/>
        <meta property="og:type" content="website" />
        <meta property="og:image" content="/android-chrome-192x192.png">
        <meta property="og:description" content="Glicko2 ratings for Guilty Gear Strive" />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <link href="/style.css" rel="stylesheet" type="text/css">
        <!--Look, if you think you can make this website look better, DM a CSS file to @sov_gott_games or maybe open an issue. -->
    </head>
    <body>
        {{> header null}}


        <p>
            These players help keep the site afloat!
            To become part of this list, please consider supporting the project on 
                <a href="https://www.patreon.com/halvnykterist">Patreon</a>!
        </p>
    
        {{#each players}}
            <div>
                {{>player_link name=this.name id=this.id vip_status=this.vip_status}}
            </div>
        {{/each}}
    </body>
</html>
